


    <footer>
        <p>Made with ❤ </p>
        <p>All Rights Reserved. Hrishi Sharma ©  <%= new Date().getFullYear(); %> </p>
    </footer>

















    <script>
        function handler(){
            document.getElementById("add").setAttribute("hidden" , true)
            document.getElementById("hidden").removeAttribute("hidden")
            document.getElementById("hid").removeAttribute("hidden")
        }
        

    </script>

</body>
</html>